.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
.row-flex{
  display: flex;
  flex-direction: row;
}
.col-flex{
  display: flex;
  flex-direction: column;
}
.one-grow{
  flex-grow: 1;
}
.TimeLine{
  height: 20%;
}
.VideoCanvas{
  width: 70%;
}
.TemplateType{
  flex-grow: 1;
}
.TextInput{
  display: flex;
  flex-direction: column;
}
.TextInput, .TimeLine, .VideoCanvas, .TemplateType{
  margin: 5px;
}